ul {
  list-style: none;
  .title {
    margin: 10px;
    font-size: 1rem;
  }
  .list-group-item {
    padding: 10px;
    .form-check-input {
      padding: 10px;
    }
  }
}

.form-group{
    .input{
        width: 22%;
        margin: 10px
    }
    
    .submit{
        position: relative;
        top: -50px;
        left: 25%;
    }
}
