<form [formGroup]="todoListForm">
  <div class="form-group">
    <input type="text" class="form-control input" placeholder="Enter task" formControlName="todoitem">
    <button type="submit" class="btn btn-dark submit" (click)="onSubmit(todoListForm.value)">Submit</button>
  </div>
</form>
<div>
  <app-radio-buttons (todoEvent)="getToDoList($event)" class="radio-btn mt-4 p-4"></app-radio-buttons>
  <div class="card-body p-4">
    <ul class="list-group rounded-0" *ngFor="let toDoItem of toDoList">
      <li class="list-group-item border-0 d-flex align-items-center ps-0" (click)="isChecked(toDoItem)">
        <input class="form-check-input me-3" type="checkbox" [checked]="toDoItem.isChecked" />
        <span class="title">{{toDoItem.title}}</span>
      </li>
    </ul>
  </div>
</div>