ul {
  list-style: none;
  .title {
    margin: 10px;
    font-size: 1rem;
  }
  .list-group-item {
    padding: 10px;
    .form-check-input {
      padding: 10px;
    }
  }
}

.form-group{
    .input{
        width: 22%;
        margin: 10px
    }
    
    .submit{
      height: 35px;
      margin: 10px;
      position: relative;
        top: -60px;
        left: 25%;
    
}
}

.radio-btn{
  background-color:cornsilk;
}