<div class="d-inline-flex radio-buttons">
  <div class="form-check m-2">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault2"
      [checked]="isChecked('all')"
      (change)="radioChecked('all')"
    />
    <label class="form-check-label" for="flexRadioDefault2">
      All
    </label>
  </div>
  <div class="form-check m-2">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
      [checked]="isChecked('completed')"
      (change)="radioChecked('completed')"
    />
    <label class="form-check-label" for="flexRadioDefault1">
      Completed
    </label>
  </div>
  <div class="form-check m-2">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
      [checked]="isChecked('incompleted')"
      (change)="radioChecked('incompleted')"
    />
    <label class="form-check-label" for="flexRadioDefault1">
      Incompleted
    </label>
  </div>
</div>
